name: Validate 'setup-xcode'
on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: 0 0 * * *

jobs:
  versions-macOS-11:
    name: macOS 11
    runs-on: macos-11
    strategy:
      matrix:
        xcode-version: ['11.7', '12', '12.4.0', '13', latest, latest-stable]
      fail-fast: false
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - uses: ./
      name: Setup Xcode
      id: setup-xcode
      with:
        xcode-version: ${{ matrix.xcode-version }}
    - name: Print output variables
      run: |
        echo "Version: ${{ steps.setup-xcode.outputs.version }}"
        echo "Path: ${{ steps.setup-xcode.outputs.path }}"
  
  versions-macOS-12:
    name: macOS 12
    runs-on: macos-12
    strategy:
      matrix:
        xcode-version: ['13.2.1', '13.4', '14.0.0', '14', latest, latest-stable]
      fail-fast: false
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - uses: ./
      name: Setup Xcode
      id: setup-xcode
      with:
        xcode-version: ${{ matrix.xcode-version }}
    - name: Print output variables
      run: |
        echo "Version: ${{ steps.setup-xcode.outputs.version }}"
        echo "Path: ${{ steps.setup-xcode.outputs.path }}"
        echo "XCODE_VER: ${{ env.XCODE_VER }}"
