name: Build task
on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: 0 0 * * *

jobs:
  Build:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Set Node.JS
      uses: actions/setup-node@master
      with:
        node-version: 12.x

    - name: npm install
      run: npm install

    - name: Build
      run: npm run build
    
    - name: Run tests
      run: npm run test

    - name: Lint
      run: npm run lint
